.homePage {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.balance {
  display: block;
  margin: 0;
  color: #000;
  mix-blend-mode: normal;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}