.login {
  width: 700px;
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
}

.form {
  width: 80%;
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}